.wrapper{
    display: flex;
    justify-content: space-between;

}
.slice{
    padding: 100px;
    position: relative;
}
.outer-circle{
    position: relative;
}
.right-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}