.wrapper{
    display: flex;
    justify-content: space-between;

}
.slice{
    padding: 50px;
    position: relative;
}
.outer-circle{
    position: relative;
}
.right-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.legends{
    padding-left: 20px;
}
.info{
    padding-left: 20px;
}